/**
 * Default image styling
 */


// Ethan Marcotte - http://front.ie/l8rJaA
embed,
object,
video {
  max-width: 100%;
}


// Disable flexiblity for IE8 and below
.lt-ie9 {
  img,
  object,
  embed,
  video {
    max-width: none;
  }
}


// Override max-width 100% for map displays, as much as possible anyway...
#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img {
  max-width: none !important;
}


// Improve IE's resizing of images
svg:not(:root) {
  overflow: hidden;
}


// Corrects inline-block display not defined in IE6/7/8/9 & FF3
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}


// Prevents modern browsers from displaying 'audio' without controls
audio:not([controls]) {
  display: none;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
    -ms-interpolation-mode: bicubic;
}

/**
 * Image styling 
 */
img.baseline-image-full {
  max-width: 100%;
  width: 100% !important;
  height: auto;
  margin-bottom: .5em;
}

img.baseline-image-half {
	max-width: 100%;
	width: 100%;
	@include breakpoint ($tablet-portrait-and-above) {
  max-width: 50%;
  width: 50%;
  height: auto;
  float: left;
  margin-right: .75em;
  margin-bottom: .5em;
  margin-top: .5em;
  }
}

img.baseline-image-quarter {
  max-width: 25%;
  width: 25%;
  height: auto;
  float: left;
  margin-right: .5em;
  margin-bottom: .25em;
  margin-top: .25em;
}

img.monopoly-image-featured {
  max-width: 100%;
  height: auto;
}

img.monopoly-image-thumbnail {
  max-width: 100%;
  height: auto;
}

img.monopoly-image-square {
  max-width: 100%;
  height: auto;
}

.clearfix.paragraphs-image, .clearfix.paragraphs-image .clearfix, .clearfix.paragraphs-image .row {
	&:after {
	clear: none!important;
	}
}

iframe.twitter-tweet.twitter-tweet-rendered {
	width: 100%!important;
	border-top-left-radius: $border-radius-base!important;
	border-top-right-radius: $border-radius-base!important;
	border-bottom-right-radius: $border-radius-base!important;
	border-bottom-left-radius: $border-radius-base!important;
	max-width: 100%!important;
}