ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
}

a.autocomplete-deluxe-single:hover {
  text-decoration: none;
}

.ui-autocomplete .ui-state-hover {
  background-color: $brand-primary;
  color: #fff;
  padding: 0;
  margin: 0;
  @include border-radius(0);
  border: none;
}
.ui-menu .ui-menu-item a {
	font-size: 1em;
	padding: 3px 10px;
}


.autocomplete-deluxe-container {
  display: inline-block;
  position: relative;
}
div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  background: #fff no-repeat -38px -22px;
  padding: 4px 5px 4px 5px;
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form-single  {
  width: 90%;
}

.autocomplete-deluxe-search {
  margin: 0px 0px 4px 0px;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1010;
}

span.autocomplete-deluxe-value-delete {
  display: inline-block;
  float: right;
  background:url('images/x.gif') no-repeat center;
  width: 18px;
  width: 18px;

  /* Prevent text selection. */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.autocomplete-deluxe-single-open {
  border: 1px solid #aaa;
}

input.autocomplete-deluxe-closed {
}

div.autocomplete-deluxe-multiple {
  display: inline-block;
  cursor: text;
  height: auto !important;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%!important;
  cursor: text;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  width: 100%!important;
  float: left;
}

div.autocomplete-deluxe-throbber {
  width: 16px;
  float: right;
  height: 50%;
  margin-top: -32px;
  margin-right: 3px;
}

.autocomplete-deluxe-closed {
  background: url(images/throbber.gif) no-repeat 100% 6px;
}

.autocomplete-deluxe-open {
  background: url(images/throbber.gif) no-repeat 100% -14px;
}

.autocomplete-deluxe-item {
  float: left;
  @extend .btn;
  @extend .btn-default;
  padding: 3px 24px 3px 8px;
  position: relative;
  margin-bottom: 6px;
  margin-right: 3px;
}

.autocomplete-deluxe-item-delete {
  background: url("images/x.gif");
  font-size: 1px;
  height: 13px;
  position: absolute;
  right: 6px;
  width: 12px;
  margin-top: .5rem;
}
.autocomplete-deluxe-item-focus {
  background: none repeat scroll 0 0 #D4D4D4;
}

.autocomplete-deluxe-highlight-char {
  color: $brand-primary;
  font-weight: bold;
}
