.region-header {
	@include breakpoint($tablet-portrait-and-below) {
		padding: 0;
	}
}
.menu-button {
	float:right;
	margin-right: 20px;
	width: 100px;
	background: transparent;
	border: 1px solid $white;
	margin-top: 12px;
	color: $white;
	.touch-button {
		color:$white;
		background: transparent;
		.navicon {
			color: $white;
		}
	}
}
.flexnav {
	&.sm-screen {
		li a {
		height: 50px;
		}	
		ul {
		padding-left: 0;
		}
		ul li a {
		padding-left: 20px;
		}
	}
	@include breakpoint($tablet-landscape-and-above) {
	width: auto;
	float: right;
	margin-top: 18px;
	li {
	background-color: transparent;
	width: auto;
	}
	&> li > a {
		color: $white;
		text-transform: uppercase;
		font-family: $headings-font-family; 
		font-style: normal;
		font-weight: $headings-font-weight;
	}
	&> li.item-with-ul > a:after {
		@include css-triangle(4px, $white, top);
		float:right;
		margin-top:10px;
		margin-left: 5px;
	}
	&> li.item-with-ul > a:hover:after {
		@include css-triangle(4px, $black, top);
	}
	li a {
		background: transparent;
		float: none;
		border: none;
		.caret {
		display: inline-block;
		margin-top: 10px;
		margin-left: 2px;
		}
	}
	li > a:hover, li > a:focus {
		text-decoration: none;
		color: $dropdown-link-hover-color;
		.caret {
		border-top-color: white;
		border-bottom-color: white;
		}
		}
	li.active > a, li.active > a:hover {
		color: $dropdown-link-active-color;
		text-decoration: none;
		outline: 0;
//		@include gradient-vertical($dropdown-link-active-bg, darken($dropdown-link-active-bg, 5%));
		}
	li > ul {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: $zindex-dropdown;
			float: left;
			min-width: 190px;
			padding: 5px 0;
			margin: 2px 0 0; // override default ul
			list-style: none;
			background-color: $dropdown-bg;
			border: 1px solid #ccc; // Fallback for IE7-8
			border: 1px solid $dropdown-border;
			*border-right-width: 2px;
			*border-bottom-width: 2px;
			@include border-radius($border-radius-base);
			@include box-shadow(0 5px 10px rgba(0,0,0,.2));
			-webkit-background-clip: padding-box;
			-moz-background-clip: padding;
			background-clip: padding-box;
			width:auto;
			top: auto;
			display: none;
			margin: 0;
			}
	li ul li a {
			border-bottom: none;
			display: block;
			padding: 5px 15px;
			clear: both;
			font-weight: normal;
			line-height: $base-line-height;
			color: $dropdown-link-color;
			background: transparent;
		}
	ul li ul li a {
			background: transparent;
		}
	ul li ul li ul li a {
			background: transparent;
		}
	.touch-button {
			display: none;
		}
	}
	@include breakpoint($tablet-landscape-small) {
		&> li > a {
		font-size: 1.1em;
		}
		li a {
			padding: 12px 10px;
		}
	}
	@include breakpoint($tablet-landscape-large) {
		&> li > a {
		font-size: 1.2em;
		}
		li a {
			padding: 12px 16px;
		}
	}
	@include breakpoint($standard) {
		&> li > a {
		font-size: 1.3em;
		}
		li a {
			padding: 12px 20px;
		}
	}

}
