.content-grid-2 {
	@include block-grid(1);
	@include breakpoint($tablet-landscape-and-above) {
			@include block-grid(2);
	}
}
.content-grid-3 {
	@include block-grid(1);
	@include breakpoint($tablet-portrait) {
			@include block-grid(2);
	}
	@include breakpoint($tablet-landscape-and-above) {
			@include block-grid(3);	
	}
}
.content-grid-4 {
	@include block-grid(1);
	@include breakpoint($tablet) {
			@include block-grid(2);
	}
	@include breakpoint($standard) {
			@include block-grid(4);	
	}
}


.block-grid-2 {
	@include block-grid(1);
	@include breakpoint($tablet-landscape-and-above) {
			@include block-grid(2);
	}
}
.block-grid-3 {
	@include block-grid(1);
	@include breakpoint($tablet-portrait) {
			@include block-grid(2);
	}
	@include breakpoint($tablet-landscape-and-above) {
			@include block-grid(3);	
	}
}
.block-grid-4 {
	@include block-grid(1);
	@include breakpoint($tablet-portrait) {
			@include block-grid(2);
	}
	@include breakpoint($tablet-landscape-and-above) {
			@include block-grid(4);	
	}
}
.block-grid-5 {
	@include block-grid(1);
	@include breakpoint($tablet) {
			@include block-grid(2);
	}
	@include breakpoint($standard) {
			@include block-grid(5);	
	}
}
.block-grid-2, .block-grid-3, .block-grid-4, .block-grid-5 {
	img {
		max-width: none;
		width: 100%;
		height: 100%;
	}
}

.stat-2 {
	@include block-grid(1);
	@include breakpoint($tablet-landscape-and-above) {
			@include block-grid(2);
	}
}
.stat-3 {
	@include block-grid(1);
	@include breakpoint($tablet-portrait) {
			@include block-grid(2);
	}
	@include breakpoint($tablet-landscape-and-above) {
			@include block-grid(3);	
	}
}
.stat-4 {
	@include block-grid(1);
	@include breakpoint($tablet-portrait) {
			@include block-grid(2);
	}
	@include breakpoint($tablet-landscape-and-above) {
			@include block-grid(4);	
	}
}
.stat-5 {
	@include block-grid(1);
	@include breakpoint($tablet) {
			@include block-grid(3);
	}
	@include breakpoint($standard) {
			@include block-grid(5);	
	}
}
.stat-6 {
	@include block-grid(1);
	@include breakpoint($tablet) {
			@include block-grid(3);
	}
	@include breakpoint($standard) {
			@include block-grid(6);	
	}
}
.stat-7 {
	@include block-grid(1);
	@include breakpoint($tablet) {
			@include block-grid(3);
	}
	@include breakpoint($standard) {
			@include block-grid(7);	
	}
}
.stat-8 {
	@include block-grid(1);
	@include breakpoint($tablet-portrait) {
			@include block-grid(2);
	}
	@include breakpoint($tablet-landscape) {
			@include block-grid(4);
	}
	@include breakpoint($standard) {
			@include block-grid(8);	
	}
}
