//
// Superfish
//
ul.sf-menu {
  margin-bottom: 0;

  a {
    border-left: 0;
    border-top: 0;
    padding: 0 10px;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5em;

    &:link,
    &:visited {}
  }

  li {
    &:hover,
    &.sfHover {
      outline: 0;
    }
  }

  a {
    &:focus,
    &:hover,
    &:active {
      outline: 0;
    }
  }
}


/* Prevent momentary display of sub menus
ul.sf-vertical li ul,
ul.sf-horizontal li ul,
ul.sf-navbar li ul ul {
  display: none;
}
*/


// Superfish blocks
.block-superfish {

  .block-inner .content {}

  ul {
    margin: 0 !important;
    padding: 0 !important;

    ul {
      margin: 0 !important;
      padding: 0 !important;

      ul {
        margin: 0 !important;
        padding: 0 !important;

        ul {
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }
  }

  li {
    margin: 0 !important;
    padding: 0 !important;
  }
}


// Vertical style
.sf-vertical {
  width: 100%;

  li {
    width: 100%;

    &.last {}

    &:hover ul,
    &.sfHover ul {
      left: 100%;
      /* match ul width */
      top: 0;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 0 10px;
    }
  }
}


// Navbar style
.sf-navbar {
  padding-bottom: 0 !important;
}


// Sensible padding for the default style

.sf-menu.sf-style-default a {
  padding: 0 10px;
}